.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.phoneImg{
    width: 430px;
    margin-top: 20px;
    margin-right: -150px;
}
.instagramImg{
    width: 200px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}
.facebookImg{
    width: 20px;
    border-radius: 2px;
    margin-right: 10px;
}
.container--login{
    background-color: white;
    border: 1px solid rgb(228, 228, 228);
    width: 350px;
    margin-top: 60px;
    padding: 20px 0px 5px 0px;
}
input{
    width: 250px;
    padding: 10px 5px;
    font-size: 12px;
    background: rgb(255, 248, 248);
    border: 1px solid rgb(228, 228, 228);
    display: block;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 3px;
}
button{
    background-color: #0095f6;
    color: white;
    border: none;
    width: 260px;
    padding: 8px 0px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    cursor: pointer;
}
.hrs{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .5;
    font-weight: 600;
    font-size: 14px;
}
hr{
    width: 100px;
    margin: 20px 20px;
}
.viaFacebook{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #385185;
    font-weight: 600;
    cursor: pointer;
}
.rememberPassword{
    color: #385185;
    font-size: 12px;
    cursor: pointer;
}
.container--cadastro{
    border: 1px solid rgb(228, 228, 228);
    font-size: 14px;
    width: 350px;
}
.container--cadastro span{
    color: #0095f6;
    font-weight: 600;
    cursor: pointer;
}
.container--aplicativo{
    font-size: 14px;
    width: 350px;
    margin-top: 20px;
}
.container--aplicativo img{
    display: inline;
    width: 150px;
    cursor: pointer;
    margin-top: 10px;
}
.container--login, .container--cadastro{
    margin-bottom: 10px;
}
footer{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 250px;
}

@media (max-width: 1000px){
    .phoneImg{
        display: none;
    }
    .container{
        display: block;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }
    .container--login, .container--cadastro, .container--aplicativo{
        margin: 10px auto;
    }
    .container--login{
        margin-top: 30px;
    }
}
@media (min-width: 2000px){
    .phoneImg{
        margin-right: -600px;
    }
}
